@charset "utf-8";

.centerparent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.centerelem {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 1rem;
}

.textcenter {
    text-align: center;
}